
<div class="jumbotron">
  <h1><i class="fa fa-bar-chart" aria-hidden="true"></i> Integracción y limpieza</h1>
  <p></p>
</div>

In [1]:
from pandas import read_csv
from pandas import to_datetime
from pickle import dump

### Integración

In [61]:
# Esta face se omite debido a que sólo es un archivos CSV

### Carga datos

In [62]:
df = read_csv('Data/weatherAUS.csv') 
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

### Dimensiones del dataframe

In [63]:
df.shape

(145460, 23)

### Features

In [64]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

### Valores nulos o faltantes

In [65]:
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

### Valores nulos como porcentaje

In [66]:
((df.isnull().sum() / len(df))*100).sort_values(ascending = False)

Sunshine         48.009762
Evaporation      43.166506
Cloud3pm         40.807095
Cloud9am         38.421559
Pressure9am      10.356799
Pressure3pm      10.331363
WindDir9am        7.263853
WindGustDir       7.098859
WindGustSpeed     7.055548
Humidity3pm       3.098446
WindDir3pm        2.906641
Temp3pm           2.481094
RainTomorrow      2.245978
RainToday         2.241853
Rainfall          2.241853
WindSpeed3pm      2.105046
Humidity9am       1.824557
WindSpeed9am      1.214767
Temp9am           1.214767
MinTemp           1.020899
MaxTemp           0.866905
Location          0.000000
Date              0.000000
dtype: float64

<div class="alert alert-info" role="alert">
<ul>
<li> Existe un porcentaje alto de datos nulos dentro de las variables, por motivos de tiempo, no analizaremos si es posible hacer <i>refill</i> de este tipo de datos

<li> Debido a que son datos de sensores es comun este comportamiento

<li> Debido a que esta fuera del <i>scope</i> el lidiar con técnicas de imputación ya que en el peor de los casos puede requerir generar un modelo de regresión para el rellenado de datos faltantes, los datos nulos serán eleminados.</ul>
</div>

### Eliminar datos nulos

In [67]:
df.dropna(inplace = True)

### Verificar datos

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56420 entries, 6049 to 142302
Data columns (total 23 columns):
Date             56420 non-null object
Location         56420 non-null object
MinTemp          56420 non-null float64
MaxTemp          56420 non-null float64
Rainfall         56420 non-null float64
Evaporation      56420 non-null float64
Sunshine         56420 non-null float64
WindGustDir      56420 non-null object
WindGustSpeed    56420 non-null float64
WindDir9am       56420 non-null object
WindDir3pm       56420 non-null object
WindSpeed9am     56420 non-null float64
WindSpeed3pm     56420 non-null float64
Humidity9am      56420 non-null float64
Humidity3pm      56420 non-null float64
Pressure9am      56420 non-null float64
Pressure3pm      56420 non-null float64
Cloud9am         56420 non-null float64
Cloud3pm         56420 non-null float64
Temp9am          56420 non-null float64
Temp3pm          56420 non-null float64
RainToday        56420 non-null object
RainTomorrow     56420 non-null object
dtypes: float64(16), object(7)
memory usage: 10.3+ MB

### Transformar columna `Data` a formato datetime

In [69]:
df.Date = to_datetime(df.Date, format='%Y-%m-%d')

### Obtener el nombre de las variables categorical

In [70]:
cat_col=list(set(df.columns)-set(df._get_numeric_data().columns))

In [71]:
cat_col

['Date',
 'RainToday',
 'RainTomorrow',
 'WindDir3pm',
 'WindDir9am',
 'Location',
 'WindGustDir']

La ducumentación técnica indica  que la variable objetivo es `RainTomorrow`

In [72]:
label = 'RainTomorrow'

In [73]:
cat_col = list(set(cat_col)- set([label,'Date'])) # Restar la varibale label a la lista

In [74]:
cat_col

['RainToday', 'WindDir3pm', 'WindDir9am', 'Location', 'WindGustDir']

### Convertir las variables a tipo `category`

In [75]:
for i in range(len(cat_col)):
    df[cat_col[i]] = df[cat_col[i]].astype('category')

### Convertir la variable `RainTomorrow` a tipo `category`

In [76]:
df[label]= df[label].astype('category')

In [77]:
df.dtypes

Date             datetime64[ns]
Location               category
MinTemp                 float64
MaxTemp                 float64
Rainfall                float64
Evaporation             float64
Sunshine                float64
WindGustDir            category
WindGustSpeed           float64
WindDir9am             category
WindDir3pm             category
WindSpeed9am            float64
WindSpeed3pm            float64
Humidity9am             float64
Humidity3pm             float64
Pressure9am             float64
Pressure3pm             float64
Cloud9am                float64
Cloud3pm                float64
Temp9am                 float64
Temp3pm                 float64
RainToday              category
RainTomorrow           category
dtype: object

### Almacenar el `dataframe` en formato pickle

In [78]:
# Store data 
with open('data/data.pickle', 'wb') as handle:
    dump(df, handle)